.footer {
    padding-bottom: 60px;
    padding-top: 60px;
    color: var(--footer-color);
    background-color: var(--becgraud-color);
    cursor: none;
    text-decoration: none;
}

.accent-footer {
    color: var(--mail-color);
}

.footer .link {
    cursor: auto;
}

.web {
    display: block;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--mol-color);
    margin-bottom: 20px;
}

.maps {
    line-height: 1.71;
    color: var(--mail-color);
    white-space: nowrap;
}

.tol {
    line-height: 1.14;
    color: var(--footer-color);
}

.mal {
    line-height: 1.14;
    color: var(--footer-color);
}

.mol:nth-child(2) {
    margin-bottom: 9px;
}

.mol:first-child {
    margin-bottom: 9px;
}





.come {
    margin-left: 90px;
}


.footer-cont {
    display: flex;
    margin: o auto;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: var(--focus-color);
    color: var(--mail-color);
    border-radius: 50%;
}



}


.cons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.kart {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    gap: 10px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &t:focus {
        background-color: var(--focus-color);
    }
    
}

.icon {
    width: 20px;
    height: 20px;
    fill: var(--mail-color);
}
.footer__button {
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    padding-left: 28px;
    padding-top: 10px;
    text-align: center;
    margin-left: 12px;
    margin-top: auto;
    width: 200px;
    height: 50px;
    background-color:var(--focus-color);
    border: 0;
    cursor: pointer;
    color: var(--mail-color);
    border-radius: 4px;
}
.zag-soc {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--mail-color);
    margin-bottom: 20px;
}
.rozsuska{display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--mail-color);
    }

.form-footer{margin-left: 98px;}