.header {
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
}
.header {
    border-bottom: 1px solid var(--border-color);
}
.heder-container {
    display: flex;
    align-items: center;
    margin: auto;

}

.header.link.current {
    color: var(--mol-color);
    
}

.heder {
    position: relative;
    display: flex;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    align-items: center;
    text-decoration: none;
}

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    display: flex;
    color: var(--mol-color);
    text-decoration: none;

}

.navigacia {
    position: relative;
    padding-bottom: 10px;
    text-decoration: none;
    
}

.stadi{
    color: var(--meil-color);
    cursor: pointer;

    
    
}

.stadi:hover,
.stadi:focus {
    color: var(--focus-color);
}
.stadi:current
.portfolio :current

.navigacia .link {
    display: flex;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--meil-color);
}


.kont{margin-right: 344px;
    
    
}


.st{margin-right:50px;
    margin-left: 93px;
    
 }
.port{margin-right: 50px;
    
}
.link {
    text-decoration: none;
    &:hover,
    &:focus{color:var(--mol-color);}

}
.icon-meil {
    width: 16px; ;
    height: 12px;
    color: currentColor;
    margin-right: 10px;
}

.icon-tel {width: 10px;
    height: 16px;
    color: currentColor;
    margin-right: 10px;
    
}
.tel {display: flex;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--mel-color);
    fill:var(--mel-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 10px;
    &:hover,
    &:focus{fill: var(--focus-color);}
}

.navigacia.tel{margin-left: 20px;}

.meil {display: flex;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    fill: var(--mel-color);
    color: var(--mel-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{fill: var(--focus-color);}
}






