:root {
    --meil-color:rgba(33, 33, 33, 1);
    --mail-color:#FFFFFF;
    --mel-color:rgba(117, 117, 117, 1);
    --mol-color: #2196F3;
    --accent-color:#1b1c1e;
    --zag-color:rgba(255, 255, 255, 1);
    --footer-color:rgba(255, 255, 255, 0.6);
    --focus-color:rgba(33, 150, 243, 1);
    --becgraud-color:rgba(47, 48, 58, 1);
    --tel-colr: #757575;
    --heder-ikon: rgba(117, 117, 117, 1);
    --border-color:rgba(236, 236, 236, 1);
    --socset-color:rgba(175, 177, 184, 1);
    --perebagu :rgba(245, 244, 250, 1);
    }

body {
    font-family: Roboto ,Raleway, sans-serif;
    color:var(--meil-color);
    background-color:var(--mail-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}