//.container {
   // width: 1200px;
   // margin: 0 auto;
   // padding-left: 15px;
   // padding-right: 15px;}



   // @media screen and (min-width: 480px){
     //width: 480px;
   // }
   // @media screen and (min-width: 768px){
//width: 768pxpx;
         //   }
           // @media screen and (min-width:1140px){
               // width: 1140pxpx;
                //    }
//}
.container {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  
    @include media-breakpoint(767px) {
      max-width: 768px;
    }
    @include media-breakpoint(1199px) {
      max-width: 1200px;
    }
  }