
.title{
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: var(--meil-color);
    margin-bottom: 10px;
}
.title-big{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    color: var(--meil-color);
}